.container {
  padding-left: 100px;
  padding-right: 100px;
  max-width: 1600px;
  margin: auto;
  /* position: relative; */
}
.homepage {
  font-family: 'Muli', serif;
}
.homepage .heading-section {
  /* height:100vh; */
  text-align: center;
  color: white;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 60px;
  padding-bottom: 70px;
  max-width: 1600px;
  margin: auto;
  position: relative;
  z-index: 1;
}
.homepage .heading-section h1 {
  font-family: 'Lora', serif;
}
.homepage .background {
}
.homepage .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  filter: contrast(80%) brightness(50%);
}
.homepage .list-link {
  font-size: 16px;
  line-height: 22px;
}
.homepage .list-link a {
  color: #ffff;
  text-decoration: none;
}
.homepage .pt-20px {
  padding-top: 20px;
}
.homepage .title {
  font-size: 18px;
}
.homepage .description {
  font-size: 16px;
  line-height: 22px;
}
.homepage .flower-content-section {
  margin-top: 45px;
  margin-bottom: 66px;
  display: flex;
  gap: 30px;
}
.homepage .left-column {
  width: 20%;
}
.homepage .left-column .list-box {
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 0 20px 30px 20px;
}
.homepage .left-column .category {

}
.homepage .left-column .category-item {
  display: flex;
  justify-content: space-between;
}
.homepage .category-title {
  /* padding-bottom: 12px;
  font-weight: 700;
  border-bottom-width: 1px;
  border-color: #e5e5e5;
  border-bottom-style: solid;
  margin-bottom: 0px;
  margin-top: 0px; */
}
.homepage .left-column .title-main {
  /* background: rgba(224, 50, 50, 0.185); */
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #ccc;
}
.homepage .left-column .title-secondary {
  font-size: 16px;
  font-weight: 600;
  padding-top: 20px;
  /* background: rgba(223, 6, 194, 0.795); */
}
.homepage .left-column .checkbox-item label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background: #0ee6b086; */
}
.homepage .left-column .checkbox-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.homepage .left-column .checkbox-item input:checked ~ .checkmark {
  background-color: #2196F3;
}
.homepage .left-column .checkbox-item .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #ccc;
}
.homepage .left-column .checkbox-item .checkmark::after {
  content: "";
position: absolute;
left: 4px;
top: -1px;
width: 5px;
  height: 10px;
  border: solid white;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
}
.homepage .category-item {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.homepage .category-name {
  /* font-size: 18px; */
}
.homepage .add-button {
}
.homepage .filter-by {
}
.homepage .availability {
}
.homepage .price {
}
.homepage .price .price-range {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}
.homepage .price .price-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.homepage .price .price-box input {
  height: 40px;
  width: 100%;
}
.homepage .product-type {
}
.homepage .brand {
}
.homepage .color {
}
.homepage .color .color-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
  padding:20px 0;
}
.homepage .color .color-item {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 100%;
}
.homepage .size {
}
.homepage .right-flower-list {
  width: 80%;
}
.homepage .filter-product {
  display: flex;
  justify-content: space-between;
}
.homepage .dropdown-menu {
  margin-bottom: 20px;
}
.homepage .dropdown-menu select {
  padding-top: 10px;
  padding-right: 16px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 200px;
  background-color: white;
  border: 1px solid black;
}
.homepage .sort-button {
}
.homepage .number-of-product {
}
.homepage .sort-buttons {
}
.homepage .increasing {
}
.homepage .decreasing {
}
.homepage .flower-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
  /* background-color: rgba(68, 0, 255, 0.144); */
}
.homepage .flower-item {
  text-align: center;
}
.homepage .flower-thumbnail {
}
.homepage .flower-thumbnail img {
  height: auto;
  max-width: 100%;
}
.homepage .flower-name {
}
.homepage .flower-name p {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 12px;
}
.homepage .flower-rating {
}
.homepage .flower-rating .fa-star {
  color: #d6d6d6;
}
.homepage .flower-price {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: #666;
  justify-content: center;
  gap: 1rem;
}
.homepage .flower-price p {
  margin-top: 12px;
}
.homepage .original-price {
  color: #c34795;

  font-weight: 600;
}
.homepage .discount-price {
  text-decoration: line-through;
}
.homepage .pagination {
  display: flex;
  gap: 0.2rem;
  justify-content: end;
}
.homepage .page-number {
}

@media screen and (max-width: 1536px) {
  body {
    background-color: red;
  }
}

@media screen and (max-width: 1280px) {
  body {
    background:  green;
  }
  .homepage .flower-list {
    /* display: grid; */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* gap: 2rem; */
  }
}

@media screen and (max-width: 1024px) {
  body {
    background-color: blue
  }
  .homepage .flower-list {
    /* display: grid; */
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* gap: 2rem; */
  }
  .homepage .left-column {
    width: 40%
  }
  .homepage .right-flower-list {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    background-color: yellow;
  }
  .homepage .heading-section {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 130px;
    padding-right: 130px;
  }
  .homepage .left-column {
    display: none;
  }
  .homepage .right-flower-list {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  body {
    background-color: orange;
  }
  .homepage .heading-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

