.container {
}
.homepage {
  font-family: 'Muli', serif;
}
.homepage .heading-section {
  background: rgba(33, 47, 55, 0.518);
  font-family: 'Lora', serif;
  text-align: center;
  color: white;
  position: relative;
}
.homepage .background {
}
.homepage .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.homepage .list-link {
  font-size: 16px;
  line-height: 22px;
}
.homepage .list-link a {
  color: #ffff;
  text-decoration: none;
}
.homepage .title {
  font-size: 18px;
}
.homepage .description {
  font-size: 16px;
  line-height: 22px;
}
.homepage .flower-content-section {
  margin-top: 45px;
  margin-bottom: 66px;
  display: flex;
  gap: 30px;
}
.homepage .left-column {
}
.homepage .category {
  /* border: 1px solid gray;
  padding: 30px; */
}
.homepage .category-title {
  /* padding-bottom: 12px;
  font-weight: 700;
  border-bottom-width: 1px;
  border-color: #e5e5e5;
  border-bottom-style: solid;
  margin-bottom: 0px;
  margin-top: 0px; */
}
.homepage .left-column .title-main {
  background: rgba(224, 50, 50, 0.185);
}
.homepage .left-column .title-secondary {
  background: rgba(223, 6, 194, 0.795);
}
.homepage .left-column .checkbox-item {
  background: rgba(211, 85, 26, 0.644);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}
.homepage .category-item {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.homepage .category-name {
  font-size: 18px;
}
.homepage .add-button {
}
.homepage .filter-by {
}
.homepage .availability {
}
.homepage .price {
}
.homepage .price .price-range {
  display: flex;
  gap: 1rem;
}
.homepage .product-type {
}
.homepage .brand {
}
.homepage .color {
}
.homepage .color .color-list {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 1rem;
}
.homepage .color .color-item {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 100%;
}
.homepage .size {
}
.homepage .right-flower-list {
  width: 80%;
}
.homepage .filter-product {
  display: flex;
  justify-content: space-between;
}
.homepage .dropdown-menu {
  margin-bottom: 20px;
}
.homepage .dropdown-menu select {
  padding-top: 10px;
  padding-right: 16px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 200px;
  background-color: white;
  border: 1px solid black;
}
.homepage .sort-button {
}
.homepage .number-of-product {
}
.homepage .sort-buttons {
}
.homepage .increasing {
}
.homepage .decreasing {
}
.homepage .flower-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
  /* background-color: rgba(68, 0, 255, 0.144); */
}
.homepage .flower-item {
  text-align: center;
}
.homepage .flower-thumbnail {
}
.homepage .flower-thumbnail img {
  height: auto;
  max-width: 100%;
}
.homepage .flower-name {
}
.homepage .flower-name p {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 12px;
}
.homepage .flower-rating {
}
.homepage .flower-rating .fa-star {
  color: #d6d6d6;
}
.homepage .flower-price {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: #666;
  justify-content: center;
  gap: 1rem;
}
.homepage .flower-price p {
  margin-top: 12px;
}
.homepage .original-price {
  color: #c34795;
  
  font-weight: 600;
}
.homepage .discount-price {
  text-decoration: line-through;
}
.homepage .pagination {
  display: flex;
  gap: 0.2rem;
  justify-content: end;
}
.homepage .page-number {
}
